:root {
  --theme-color: #d63369;
}

.markdown-body {
  overflow: hidden;
  color: #333;
  padding-left: 30px;

  & a {
    color: var(--theme-color);

    &:hover {
      text-decoration: underline;
    }
  }

  & strong {
    font-weight: 600;
    color: #111;
  }

  & em {
    font-style: italic;
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    line-height: 1.2;
    font-weight: 500;
    color: #111;
    position: relative;

    & .anchor {
      position: absolute;
      left: -24px;
      top: 0.1em;
      padding-right: 24px;
      display: none;
      font-size: 80%;
      color: #999;

      &:hover {
        color: #333;
      }
    }
    &:hover .anchor {
      display: inline-block;
      text-decoration: none;
    }
  }

  & h1 {
    margin-top: 3.2rem;
    font-size: 2.4rem;
    font-weight: 700;
  }

  & h1:first-child {
    margin-top: 0;
  }

  & h2 {
    margin-top: 2.8rem;
    font-size: 1.8rem;
  }

  & h3 {
    margin-top: 2.4rem;
    font-size: 1.5rem;
  }

  & h4 {
    margin-top: 2.0rem;
    font-size: 1.27rem;
  }

  &>p {
    margin-top: 1.2rem;
    line-height: 1.5;
  }

  & ul {
    padding-left: 1.2rem;
    margin-top: 0.9rem;
    list-style: none;
  }

  & ul li:before {
    position: absolute;
    margin-left: -1rem;
    color: #aaa;
    content: '-';
  }

  & ol {
    margin-top: 0.9rem;
    list-style: decimal inside;
  }

  & ul,
  & ol {
    & li+li {
      margin-top: 0.5rem;
    }

    & li p {
      display: inline;
    }
  }

  & pre {
    box-sizing: border-box;
    overflow-x: auto;
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 6px;
    line-height: 1.5;
    color: #333;
    background-color: #f6f6f6;
    white-space: pre;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &>code {
      display: block;
      padding: 1rem 1.2rem;
      font-size: 0.9rem;
    }
  }

  & :not(pre)>code {
    display: inline;
    white-space: pre-wrap;
    font-size: 90%;
    color: var(--theme-color);

    &::before,
    &::after {
      color: currentColor;
      content: '`'
    }
  }

  & blockquote {
    color: #666;
    padding: 0.3rem 1.2rem;
    margin: 1.2rem 0;
    border-left: 2px solid #ccc;

    & p {
      margin: 0;
    }

    & a {
      box-shadow: none;
    }
  }
}