* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 700;
}

.page p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

.logo + p {
  margin-top: 6px;
}

.links span,
.links a {
  display: inline-block;
  vertical-align: middle;
}

.links span {
  color: #999;
}

.links span::after {
  content: '·';
}

.links a {
  margin: 0 9px;
  color: #777;
  text-decoration: none;
  border-bottom: 1px dashed #ccc;
}

.links a:hover {
  color: #333;
  border-bottom-color: transparent;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 48px;
  margin: 30px auto 0;
  border: 1px solid #eee;
  border-radius: 6px;
  transition: border-color 0.15s ease-in;
}

.counter:hover {
  border-color: #ccc;
}

.counter em {
  display: inline-block;
  width: 48px;
  font-weight: 400;
  text-align: center;
  color: #999;
}

.counter strong {
  display: inline-block;
  width: 48px;
  font-weight: 600;
  text-align: center;
}

.counter button {
  display: line-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  line-height: 1;
  font-size: 12px;
  font-family: Courier, monospace;
  font-weight: 600;
  color: #666;
  transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.counter button:hover {
  color: #111;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.counter button + button {
  margin-left: 9px;
}

.page .copyinfo {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}
