* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page {
    h1 {
        margin: 0;
        line-height: 1.5;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #000;

        strong {
            font-weight: 700;
        }
    }

    p {
        margin: 0;
        line-height: 1.5;
        text-align: center;
        color: #333;
    }

    .logo + p {
        margin-top: 6px;
    }

    .links {
        span, a {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            color: #999;
        }
        a {
            margin: 0 9px;
            color: #0090f0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 48px;
        margin: 24px auto 0;
        border: 1px dashed #ddd;
        border-radius: 6px;
        transition: border-color 0.15s ease-in;

        &:hover {
            border-color: #ccc;
        }

        strong {
            display: inline-block;
            width: 48px;
            font-weight: 600;
            text-align: center;
        }

        button {
            display: line-flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border-radius: 5px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            line-height: 1;
            font-size: 12px;
            font-family: Courier, monospace;
            font-weight: 600;
            color: #666;
            cursor: pointer;

            &:hover {
                color: #111;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }
        }
        button + button {
            margin-left: 9px;
        }
    }

    .copyinfo {
        margin-top: 24px;
        font-size: 14px;
        color: #999;
    }
}
