* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page h1 {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 800;
}

.page p {
  line-height: 1.5;
  text-align: center;
  color: #333;
}
