@import url('./reset.css');
@import url('./index.css');
@import url('./todos.css');

header a  {
  display: inline-flex;
}

header a:hover {
  color: #000!important;
}

.screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 2 * 80px);
}

.e404 h2 {
  font-size: 24px;
  font-weight: 500;
}

.e404 p {
  margin-top: 8px;
}

.e404 p a {
  color: #999;
  text-decoration: none;
}

.e404 p a:hover {
  text-decoration: underline;
}
