@import url('./reset.css');

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.page.y-center {
  justify-content: center;
}

.page h1 {
  margin: 0;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.page p {
  margin: 0;
  line-height: 1.2;
  text-align: center;
  color: #333;
}

.page p strong {
  font-weight: 600;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.links a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.links a svg {
  color: #aaa;
}

.links a:hover {
  color: #000;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

nav button {
  display: inline-block;
  width: 240px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: #454545;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

nav button:hover {
  color: #000;
  border-color: #aaa;
}

.todos-app  {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 60px;
  height: auto;
}

.todos-app h1 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 48px;
  font-weight: 200;
  text-align: left;
  color: #333;
}

.todos-app h1 em {
  font-size: 24px;
  font-weight: 100;
  color: #ccc;
}

.todos-app ul {
  width: 100%;
  list-style: none;
  margin-bottom: 6px;
}

.todos-app ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
}

.todos-app ul li:hover {
  background-color: #f9f9f9;
}

.todos-app ul li input {
  position: relative;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.todos-app ul li input:hover,
.todos-app ul li input:checked {
  border: 1px solid #b8dad4;
}

.todos-app ul li input:checked::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #5dc2af;
  content: " ";
}

.todos-app ul li label {
  line-height: 20px;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  transition: color 0.15s ease;
}

.todos-app ul li label.completed {
  color: #aaa;
  text-decoration: line-through;
}

.todos-app ul li button {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  color: #ddd;
  transition: color 0.15s ease;
  cursor: pointer;
}

.todos-app ul li:hover button {
  color: #ccc;
}

.todos-app ul li button:hover {
  color: #c26c5d;
}

.todos-app ul li button:before,
.todos-app ul li button:after {
  content: " ";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 1px;
  margin-left: -8px;
  background: currentColor;
}

.todos-app ul li button:before {
  transform: rotate(45deg);
}

.todos-app ul li button:after {
  transform: rotate(-45deg);
}

.todos-app form {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.todos-app form input {
  display: inline;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  color: #333;
}

.todos-app form input::placeholder{
  font-style: italic;
  font-weight: 300;
  color: #aaa;
}
