.index h1 {
  margin: 0;
  line-height: 1.4;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.index p {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.index p strong {
  font-weight: 600;
}

.index .external-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.index .external-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.index .external-links a:hover {
  color: #000;
}

.index .external-links a:after {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/external-link.svg) no-repeat center;
  background-size: contain;
  content: "";
}

.index nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.index nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: #454545;
  transition: border-color 0.15s ease-in;
  text-decoration: none;
  cursor: pointer;
}

.index nav a:hover {
  color: #000;
  border-color: #aaa;
}
